# macOS
.DS_Store

# Tags
tags
.tags
GTAGS
GRTAGS
GPATH

# gitignore for the git bare repo managing dotfiles

asciinema/install-id
fontforge/
gh/
gtk*/
karabiner/*backups/
lazygit/*
lazygit/config.yml
leetcode-cookie
misc/
nvim/pack/
vifm/vifminfo.json
vifm/vifm-help.txt
zsh/.zsh_sessions/
zsh/.zsh_history
zsh/.zim/
zsh/.zcompcache/
zsh/.zcompdump*
zsh/*.zwc*
mole/
karabiner/automatic_backups/*

.claude/
